.overlaymenu-background{
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed;
    z-index: 9999;
    width: 0;
   top: 0;
    height: 100vh;

}

.backaktiv{
    
width: 100%;

}


.overlaymenu-logo{
    /* background-image:  url(https://res.cloudinary.com/dqhoi1bfi/image/upload/v1688380863/logo_fjtoqm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 114px;
    height: 45px;
    display: inline-block;
    object-fit: cover; 
  
}

.overlaymenu{
    /* background-color: var(--primary2); */
    position: fixed;
    width: 0;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 50px;
    
    overflow: hidden;
    transition: 1s;
}
.overlaymenu-kontainer{
    background-color: var(--primary2);
   height: 100%;
    
}
.overlaymenu-kontainer-second{
    background-color: #fff;
    height: 100%;
   
    
}
.overlaymenu-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.overlaymenu-button-x-mark{
    background-color: var(--primary1);
    /* color: white; */
    border: none;
    border-radius: 50px;
    padding: 5px;
    transition: 500ms ease-in-out;
}
.overlaymenu-kontainer-links{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* padding-left: 20px; */
    padding: 0 20px;
}
.overlaymenu-nav-item{
    text-decoration: none;
}

.overlaymenu-nav-link{
    display: inline-block;
    text-decoration: none;
    color: var(--primary1);
    padding: 15px;
    width: 100%;
    
    height: 100%;
    border-radius: 10px;
}
.overlaymenu-nav-link:hover{
    background-color: var(--primary1);
    color: white;
    display: inline-block;
    
}

.menu-xmark{
    color: white;
    font-size: 30px;
    transition: 500ms;
}
.overlaymenu-button-x-mark:focus, .overlaymenu-button-x-mark:hover{
    background-color: #fff;
   
}
.menu-xmark:focus, .menu-xmark:hover{
   color: var(--primary1);
   
   
}
.aktive{
    width: 70%;
 

}




