.offcanvas-top{
    display: flex !important;
    /* padding: 100px; */
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;

    align-items: center;
    gap: 20px;
}

.form-kontainer{
    /* background-color: aquamarine; */
    padding: 10px ;
    border: 1px solid var(--primary1);
    border-radius: 7px;
}
.offcanvas-body{
    max-width: 900px;
    padding:0;

}
.search-input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary1);
}
.search-input::placeholder{
    color: var(--primary1);
}
.search-input:focus{
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: var(--primary1);
}
.offcanvas-header{
  display: flex;
  align-items: center;
  /* height: 100%; */
    
}
.btn-close-top{
    width: 28px;
    height: 28px;
    font-size: 20px;
    border-radius: 50px;
    
}
.btn-close:focus{
    box-shadow: none;
}

@media (max-width:1200px) {
    .offcanvas-top{
        padding: 0 50px;
    }
}
@media (max-width:576px) {
    .offcanvas-top{
        padding: 0 20px;
    }
}