 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 :root{
  --fonts:'Poppins', sans-serif;
  --primary1:#91b40d;
  --primary2:#212529;
  --bg-primary:#f5f5f5;
  --primary3: #918f8f;
  --primary4: #000000b3;
  --primary5: #006400;
  --scrollbar-width: 7px;
  --scrollbar-height: 7px;
  --scrollbar-radius: 10px;
  --scrollbar-thumb-color: var(--primary1);
  --scrollbar-track-color: #fff;
  
 }
 
 *{
  box-sizing: border-box;
  font-family: var(--fonts);
  /* outline: 1px solid rgb(109, 109, 10); */
}
body{
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;

}
a{
  text-decoration:none ;
}
li{
  list-style: none;
}
/* body{
  font-size: 16px;
  font-family: var(--font-family);
  scroll-behavior: smooth;
} */
::-webkit-scrollbar{
  width: var(--scrollbar-width); 
  height: var(--scrollbar-height);
  
}
::-webkit-scrollbar-thumb{
  background-color: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-radius);
}
::-webkit-scrollbar-track{
  background-color: var(--scrollbar-track-color);}
